/*----- Fonts & Texts -----*/

@font-face {
	font-family: amaranth;
	src: url("../fonts/amaranth/Amaranth-Regular.ttf");
}

@font-face {
	font-family: titilliumweb;
	src: url("../fonts/titilliumweb/TitilliumWeb-Regular.ttf");
}

h1, h2, h3, h4, h5,
.username {
	font-family: amaranth, "Trebuchet MS", sans-serif;
}

p, label,
.navbar ul > li > a {
	font-family: titilliumweb, "Lucida Sans Unicode", sans-serif;
	font-size: 16px;
}


/*----- Header -----*/

header > div:first-child {
	height: 50px;
	background-color: #013567;
}

header > div:last-child {
	background-color: #e1e3e5;
}

header > div:last-child [class*="col-"]:nth-child(1) {
	height: 150px;
	z-index: 1;
}

header > div:last-child [class*="col-"]:nth-child(2) {
	height: 75px;
	z-index: 1;
}

header > div:last-child [class*="col-"]:nth-child(3) {
	height: 75px;
}

header > div:last-child .brand {
	height: 100%;
}

header > div:last-child .user {
	text-align: right;
	margin-top: 40px;
}

header > div:last-child .alert {
	height: 30px;
	padding: 0;
	margin: 0;
}

header > div:last-child .avatar {
	height: 34px;
	padding-left: 5px;
}

header .username {
	font-size: 26px;
}

header > div:last-child .badge {
	background-color: #df4a32;
}

header > div:last-child .user > .dropdown {
	display: inline-block;
}


/*----- Nav -----*/

.navbar ul > li > a {
	font-size: 26px;
	text-align: center;
	font-weight: bold;
}

@media (min-width: 768px) {
	.navbar ul > li > a {
		font-size: 22px;
	}
}

@media (min-width: 992px) {
	.navbar ul > li > a {
		font-size: 24px;
	}
}

@media (min-width: 1200px) {
	.navbar ul > li > a {
		font-size: 26px;
	}
}

.navbar {
	margin-bottom: 0;
	border-radius: 0;
	background-color: #e1e3e5;
}

.navbar > .navbar-collapse {
	margin-top: 20px;
	padding: 0;
}


/*----- Main: All -----*/

html,
body {
	height: 100%;
}

.wrapper {
	position: relative;
	z-index: 1;
	min-height: 100%;
}

.heading {
	text-align: center;
}

main {
	position: relative;
	z-index: -1;
	margin-top: 75px;
	padding-bottom: 150px;
}

main .panel {
	border-color: #1b6bb8;
}

main .panel > .panel-heading,
main .panel > .panel-footer {
	background-color: #1b6bb8;
	border-radius: 0;
}

main .input-group-btn > .btn {
	padding: 20px 0;
	width: 70px;
}

main .list-item h4 {
	font-size: 14px;
}

main .list-item p {
	font-size: 12px;
}

main .list-heading {
	margin-left: 70px;
}

@media (min-width: 768px) {
	main .input-group-btn > .btn {
		padding: 20px 0;
		width: 80px;
	}

	main .list-item p {
		margin-top: 9px;
	}

	main .list-heading {
		margin-left: 100px;
		margin-right: 0;
	}
}

@media (min-width: 992px) {
	main .input-group-btn > .btn {
		padding: 12px 0;
		width: 90px;
	}

	main .list-item h4 {
		font-size: 16px;
	}

	main .list-item p {
		font-size: 14px;
		margin-top: 4px;
	}
}

@media (min-width: 1200px) {
	main .input-group-btn > .btn {
		width: 100px;
	}

	main .list-item h4 {
		font-size: 18px;
	}

	main .list-item p {
		font-size: 16px;
		margin-top: 0;
	}
}


main .input-group-btn > .btn > img {
	height: 40px;
}

main .odd-row {
	background-color: #fdfdfd;
}

main .even-row {
	background-color: #e1e3e5;
}

.modal-backdrop {
	z-index: -1;
}

.modal-dialog {
	margin-top: 150px;
}


/*----- Main: Login
			  Registration
			  Change Password -----*/

.login > .panel,
.registration > .panel,
.change_pass > .panel {
	max-width: 500px;
	margin: auto;
	text-align: center;
}

.login .input-group,
.login .btn,
.registration .input-group,
.change_pass .input-group {
	margin-bottom: 10px;
}

.login img,
.registration img,
.change_pass img {
	height: 18px;
}


/*----- Main: Home
			  About -----*/

.home figure {
	float: left;
	margin: 15px 15px;
}

.about .brand {
	font-weight: bold;
}


/*----- Main: Torrent
			  Upload
			  Contact
			  Issue -----*/

.torrent .form-control,
.upload .form-control,
.contact .form-control,
.issue .form-control {
	margin-bottom: 10px;
}

.torrent .report-icon {
	height: 24px;
}

.upload .after-file,
.issue .after-file {
	margin-top: 10px;
}

.upload .input-group img,
.issue .input-group img {
	height: 18px;
}

.issue .file-name {
	padding-top: 0;
}

.issue .btn {
	margin: 0 3px;
}


/*----- Main: Browse
			  Admin -----*/

.browse .basic-search .btn {
	padding: 5px 0;
	width: 100px;
}

.browse .basic-search .btn > img {
	height: 22px;
}

.browse .basic-search,
.browse .advanced-search,
.browse .checkbox-inline,
.browse .advanced-btn {
	margin-bottom: 20px;
}

.browse .checkbox-inline {
	width: 75px;
	margin-left: 0;
	margin-right: 25px;
}


.browse .input-group-btn > .anime {
	background-color: #cf2d33;
}

.browse .input-group-btn > .apps {
	background-color: #1db954;
}

.browse .input-group-btn > .books {
	background-color: #f6921e;
}

.browse .input-group-btn > .games {
	background-color: #00aff0;
}

.browse .input-group-btn > .movies {
	background-color: #4b67a1;
}

.browse .input-group-btn > .music {
	background-color: #ea4c89;
}

.browse .input-group-btn > .tv {
	background-color: #2d5be3;
}

.browse .input-group-btn > .other {
	background-color: #506256;
}

.admin .input-group-btn > .inquiry {
	background-color: #45bbff;
}

.admin .input-group-btn > .torrent {
	background-color: #a4c639;
}

.admin .input-group-btn > .comment {
	background-color: #ffb000;
}


/*----- Footer -----*/

footer {
	height: 75px;
	background-color: #013567;
	color: #fdfdfd;
	position: absolute;
	bottom: 0;
	width: 100%;
}

footer > p {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}


/*----- Modal: Cover -----*/

/* Image Used to Trigger the Modal */
#cover {
	border-radius: 5px;
	cursor: pointer;
	transition: 0.3s;
}

#cover:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	padding-top: 100px;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgb(0,0,0);
	background-color: rgba(0,0,0,0.9);
}

/* Modal Content (Image) */
.modal-content {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 480px;
	margin-top: 100px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#cover-caption {
	margin: auto;
	display: block;
	width: 80%;
	max-width: 700px;
	text-align: center;
	color: #ccc;
	padding: 10px 0;
	height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #cover-caption {
	-webkit-animation-name: zoom;
	-webkit-animation-duration: 0.6s;
	animation-name: zoom;
	animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
	from {-webkit-transform:scale(0)}
	to {-webkit-transform:scale(1)}
}

@keyframes zoom {
	from {transform:scale(0)}
	to {transform:scale(1)}
}

/* The Close Button */
#cover-close {
	position: absolute;
	top: 15px;
	right: 35px;
	color: #f1f1f1;
	font-size: 40px;
	font-weight: bold;
	transition: 0.3s;
}

#cover-close:hover,
#cover-close:focus {
	color: #bbb;
	text-decoration: none;
	cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
	.modal-content {
		width: 100%;
	}
}
